<ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="profile-avatar" *ngIf="user?.profile?.profile_photo">
          <ion-avatar>
            <img [src]="user?.profile?.profile_photo" alt="User Profile">
          </ion-avatar>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="fix-scroll-bug page-form" padding>
    <form
      id="myForm"
      class="icon-form m-side-menu-list"
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.valid)"
      novalidate>
      <ion-list>
        <!-- Campo de Senha Atual -->
        <ion-item>
          <ion-icon name="lock" slot="start" color="primary"></ion-icon>
          <ion-input
            placeholder="{{ 'INSERT_CURRENT_PASSWORD' | translate }}"
            formControlName="old_password"
            type="password"
            [autofocus]="true">
          </ion-input>
        </ion-item>
        <ion-note *ngIf="formErrors.submitted && formErrors.getErrors().old_password?.length" color="danger">
          <ng-container *ngFor="let error of formErrors.getErrors().old_password">
            <p>{{ error }}</p>
          </ng-container>
        </ion-note>
  
        <!-- Campo de Nova Senha -->
        <ion-item>
          <ion-icon name="key" slot="start" color="primary"></ion-icon>
          <ion-input
            placeholder="{{ 'INSERT_NEW_PASSWORD' | translate }}"
            formControlName="new_password"
            type="password">
          </ion-input>
        </ion-item>
        <ion-note *ngIf="formErrors.submitted && formErrors.getErrors().new_password?.length" color="danger">
          <ng-container *ngFor="let error of formErrors.getErrors().new_password">
            <p>{{ error }}</p>
          </ng-container>
        </ion-note>
  
        <!-- Campo de Confirmação de Nova Senha -->
        <ion-item>
          <ion-icon name="repeat" slot="start" color="primary"></ion-icon>
          <ion-input
            placeholder="{{ 'REPEAT_NEW_PASSWORD' | translate }}"
            formControlName="confirm_new_password"
            type="password">
          </ion-input>
        </ion-item>
        <ion-note *ngIf="formErrors.submitted && formErrors.getErrors().confirm_new_password?.length" color="danger">
          <ng-container *ngFor="let error of formErrors.getErrors().confirm_new_password">
            <p>{{ error }}</p>
          </ng-container>
        </ion-note>
  
        <!-- Botão de Enviar -->
        <ion-button expand="block" type="submit">Enviar</ion-button>
      </ion-list>
    </form>
  </ion-content>
  