@import 'src/theme/variables';

page-user-requests-history {
  ion-item-divider {
    &.footer-total {
      background-color: #e0e0e0 !important;
    }
  }

  padding-top: 200px;

  ion-label {
    overflow: initial;
  }

  #current-requests {
    .req-content h3 {
      color: map-get($colors, 'success');
    }
  }
}
