<ion-header>
    <ion-toolbar>
      <ion-title>Recuperar senha</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- Etapa 1: Enviar Email -->
    <form *ngIf="CURRENT_STEP === STEPS.SEND_EMAIL"
          id="myForm1"
          class="icon-form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          novalidate>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-input placeholder="{{ 'EMAIL' | translate }}" formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-note *ngIf="formErrors.submitted && formErrors.getErrors().email?.length" color="danger">
          <ng-container *ngFor="let error of formErrors.getErrors().email">
            {{ error }}
          </ng-container>
        </ion-note>
  
        <div class="space-small"></div>
        <ion-button expand="block" type="submit">Enviar</ion-button>
      </ion-list>
  
      <p>{{ "CODE_SENT_EXPLANATION" | translate }}</p>
    </form>
  
    <!-- Etapa 2: Validar Código -->
    <form *ngIf="CURRENT_STEP === STEPS.VALIDATE_CODE"
          id="myForm2"
          class="icon-form"
          [formGroup]="formCode"
          (ngSubmit)="onSubmitCode()"
          novalidate>
      <ion-list>
        <ion-item>
          <ion-icon name="medical" slot="start" color="primary"></ion-icon>
          <ion-input #inputCode placeholder="{{ 'TYPE_THE_CODE' | translate }}" formControlName="code" type="text"></ion-input>
        </ion-item>
        <ion-note *ngIf="formCodeErrors.submitted && formCodeErrors.getErrors().code" color="danger">
          <ng-container *ngFor="let error of formCodeErrors.getErrors().code">
            {{ error }}
          </ng-container>
        </ion-note>
  
        <div class="space-small"></div>
        <ion-button expand="block" type="submit">Enviar</ion-button>
      </ion-list>
  
      <p [innerHTML]="'CODE_SENT_EXPLANATION_EMAIL' | translate:{email: form.controls['email'].value}"></p>
    </form>
  
    <!-- Etapa 3: Alterar Senha -->
    <form *ngIf="CURRENT_STEP === STEPS.CHANGE_PASSWORD"
          id="myForm3"
          class="icon-form"
          [formGroup]="formPassword"
          (ngSubmit)="onSubmitPassword()"
          novalidate>
      <ion-list>
        <ion-item>
          <ion-icon name="key" slot="start" color="primary"></ion-icon>
          <ion-input formControlName="new_password" #inputPassword placeholder="{{ 'NEW_PASSWORD' | translate }}" type="password"></ion-input>
        </ion-item>
        <ion-note *ngIf="formPasswordErrors.submitted && formPasswordErrors.getErrors().new_password" color="danger">
          <ng-container *ngFor="let error of formPasswordErrors.getErrors().new_password">
            {{ error }}
          </ng-container>
        </ion-note>
  
        <ion-item>
          <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
          <ion-input formControlName="confirm_new_password" placeholder="{{ 'CONFIRM_NEW_PASSWORD' | translate }}" type="password"></ion-input>
        </ion-item>
        <ion-note *ngIf="formPasswordErrors.submitted && formPasswordErrors.getErrors().confirm_new_password" color="danger">
          <ng-container *ngFor="let error of formPasswordErrors.getErrors().confirm_new_password">
            {{ error }}
          </ng-container>
        </ion-note>
  
        <div class="space-small"></div>
        <ion-button expand="block" type="submit">Enviar</ion-button>
      </ion-list>
    </form>
  </ion-content>
  