page-choose-delivery-hour {
  ion-label {
    //text-align: center;
  }

  .choose-delivery-content {
    button.disabled {
      opacity: 0.9;

      .hour-label {
        opacity: 0.4;
      }

      background: #f3f3f3;
      //&.invalid {
      //  background: #ffd7d7;
      //}
    }

    .item-block {
      min-height: 42px;
    }

    .item-inner {
      height: 42px;
      font-size: 1.8rem;
      text-align: center;
    }

    .text-center {
      text-align: center;
    }

    ion-label {
      position: relative;
    }

    ion-badge {
      position: absolute;
      right: 55px;
      top: 1px;
    }
  }
}
