// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
/// @prop - Show the focus highlight when the input has focus
$text-input-ios-show-focus-highlight: false !default;
$text-input-ios-show-valid-highlight: $text-input-ios-show-focus-highlight !default;
$text-input-ios-show-invalid-highlight: $text-input-ios-show-focus-highlight !default;
$text-input-md-show-focus-highlight: false !default;
$text-input-md-show-valid-highlight: $text-input-md-show-focus-highlight !default;
$text-input-md-show-invalid-highlight: $text-input-md-show-focus-highlight !default;

$primaryColorContrast: #fff;
$color-success: #2ea330;
$text-color: #555;
$color-success: #2ea330;

$colors: (
  primary: #bda991,
  primaryDark: #7f6c4b,
  primaryLight: #d4c0aa,
  primaryTextColor: $primaryColorContrast,
  secondary: rgba(65, 128, 0, 0.91),
  aqua: aqua,
  danger: #f53d3d,
  success: $color-success,
  error: #c23030,
  warning: #e0d446,
  warningLight: #f8f68a,
  light: #f4f4f4,
  mainHeaderBackground: #ffffff,
  white: #ffffff,
  textGray: #999999,
  text-disabled: #b0b0b0,
  dark: #222,
  darkGray: #404040,
  gray: #b9b9b9,
  priceProductColor: #656565,
  btn-menu-footer: (
    base: #464646,
    contrast: #ffffff
  ),
  btn-menu-footer-light: (
    base: #f6f6f6,
    contrast: #4a4a49
  ),
  default-button: (
    base: #bda991,
    contrast: #ffffff
  ),
  darkBar: (
    base: #000,
    contrast: #fff
  ),
  dark-gray: (
    base: #414141,
    contrast: #fff
  ),
  red-button-dark: (
    base: #ad5a5e,
    contrast: #fff
  ),
  red-button-reverse: (
    base: #fff,
    contrast: #ad5a5e
  ),
  red-button-outline: (
    base: #ad5a5e,
    contrast: #ad5a5e
  ),
  light-divider: (
    base: #eaeaea,
    contrast: #585858
  ),
  light-button: (
    base: #444444,
    contrast: #f5f5f5
  ),
  dark-button: (
    base: #f5f5f5,
    contrast: #898989
  ),
  green-button: (
    base: #4c8441,
    contrast: #ffffff
  ),
  green-button-reverse: (
    base: transparent,
    contrast: #4c8441
  ),
  transparent: (
    base: transparent,
    contrast: #fff
  ),
  blue-button: (
    base: #2e5684,
    contrast: #ffffff
  ),
  disabled-item-list: (
    base: transparent,
    contrast: #848484
  ),
  enabled-item-list: (
    base: transparent,
    contrast: #376a97
  ),
  madeira: (
    base: #444444,
    contrast: #fff
  ),
  //address-bar: (
  //  base: #f8f8f8,
  //  contrast: #747474,
  //),
  navbar-transparent-dark: (
    base: transparent,
    contrast: #000,
  ),
  navbar-white: (
    base: #ffffff,
    contrast: #353535,
  ),
  dark-list-header: (
    base: #ececec,
    contrast: #606060,
  ),
  transparent-list-header: (
    base: #fff,
    contrast: #7d7d7d,
  ),
);

$reservation-bar-height: 56px;

$toolbar-fixed-height: 56px;

$body-background-color: #f5f5f5;

$j-units-1-1: 56px;
$j-units-1-2: $j-units-1-1 / 2;
$j-units-1-4: $j-units-1-1 / 4;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/




// Fonts
// --------------------------------------------------

