page-home {
  .swiper-slide {
    &.swiper-slide-active {
      height: auto !important;
    }
  }

  .slide-content-ctrl {
    margin-bottom: 100px;
    > ion-list {
      margin: 0;
    }
  }

  .toolbar-lines-content {
    display: flex;
    flex-direction: column;
    top: 0;
    height: auto !important;
    margin: 0;

    .toolbar-line {
      height: 56px !important;

      &.half-line {
        height: 28px !important;
      }
    }
  }

  .note-subtitle {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #e2e2e2;
    background: #444444;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes noterequest {
    from {
      opacity: 0.7;
    }
    to {
      opacity: 1;
    }
  }
  .note-request {
    animation-name: noterequest;
    animation-duration: 1200ms;
    animation-delay: 200ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background: $color-success;
    height: 32px !important;
  }
}
