<ion-header>
   <ion-toolbar>
    <ion-title>Alterar filtro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <!-- <\!-- FAB Button -\-> -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="save()" color="success">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </ion-fab>
<!-- <\!-- Entrega Section -\-> -->
 <h5 class="ion-padding">Entrega</h5>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Com entregador</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="data.with_delivery_employee"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Sem entregador</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="data.without_delivery_employee"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<!-- 
  <!-\- Entregadores Section -\-> -->
  <h5 class="ion-padding">Entregadores</h5>
  <ion-card *ngIf="deliveryEmployeesFilter && deliveryEmployeesFilter.length">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item *ngFor="let item of deliveryEmployeesFilter">
            <ion-label>{{ item.name }}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="item.checked"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
</ion-content>
