page-login {
  .note-login {
    color: #757575;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 5rem;
  }
  .sign-in-buttons {
    margin-top: 26px !important;
  }
  small {
    font-size: 1.15rem;
    color: #8e8e8e;
    letter-spacing: 0.04rem;
  }
}
