<ion-header>
  <app-header
    [title]="store?.name"
    [subTitle]="store?.address?.get_simple_address"
    [buttonIcon]="'chatboxes'"
    (headerBtnClick)="headerBtnClick()">
  </app-header>
</ion-header>

<ion-content>
  <!-- Botões Flutuantes -->
  <ion-fab vertical="bottom" horizontal="end" *ngIf="reorder">
    <ion-fab-button color="green-button" (click)="saveReorder()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" *ngIf="reorder">
    <ion-fab-button color="red-button-dark" (click)="cancelReorder()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Swiper -->
  <swiper-container
    [slides-per-view]="1"
    [loop]="true"
    [pagination]="true"
    [navigation]="true"
    (swiperslidechange)="onSlideChanged($event)">
    
    <!-- Slide 1 -->
    <swiper-slide>
      <div class="slide-content-ctrl" *ngIf="section === SLIDE_BREADS">
        <adm-list-products-inventory
          [day]="day"
          [store]="store"
          [canReorder]="reorder"
          (itemsWasSet)="itemsWasSet()">
        </adm-list-products-inventory>
      </div>
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      <div class="slide-content-ctrl" *ngIf="section === SLIDE_RESALE">
        <adm-list-products-resellers-inventory
          [day]="day"
          [store]="store"
          [canReorder]="reorder"
          (itemsWasSet)="itemsWasSet()"
          (startReorder)="startReorderProductsResellers()">
        </adm-list-products-resellers-inventory>
      </div>
    </swiper-slide>

    <!-- Slide 3 -->
    <swiper-slide>
      <div class="slide-content-ctrl" *ngIf="section === SLIDE_DISPATCH">
        <adm-list-dispatch-orders
          [data]="dataDispatchOrders"
          [user]="user"
          (listUpdated)="dispatchOrdersUpdated($event)">
        </adm-list-dispatch-orders>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- Bottom Buttons -->
  <div id="bottom-btn-content" class="hide-open-keyboard">
    <div class="reservation-wrapper-inner borded">
      <ul class="balance-store-list" *ngIf="storeBalance && !loadingHelper.isLoading('updateBalanceDay')">
        <li>
          <span><strong class="label-balance">Dinheiro</strong></span><br>
          <span>{{ storeBalance.gross_value.money | currency:'BRL':true | money }}</span>
        </li>
        <li class="symbol">+</li>
        <li>
          <span><strong class="label-balance">Pré-pago</strong></span><br>
          <span>{{ storeBalance.gross_value.client_credit | currency:'BRL':true | money }}</span>
        </li>
        <li class="symbol">+</li>
        <li>
          <span><strong class="label-balance">Cartão</strong></span><br>
          <span>{{ storeBalance.gross_value.card | currency:'BRL':true | money }}</span>
        </li>
        <li class="symbol">=</li>
        <li>
          <span><strong class="label-balance">Total</strong></span><br>
          <span>{{ storeBalance.gross_value.total | currency:'BRL':true | money }}</span>
        </li>
      </ul>

      <ion-spinner *ngIf="loadingHelper.isLoading('updateBalanceDay')" class="centered-spinner" color="light">
      </ion-spinner>
    </div>
    <div class="reservation-wrapper-inner">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-button color="dark" (click)="prevDay()" fill="clear">
              <ion-icon class="arrow-navigation-left" name="arrow-dropleft"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="arrow-navigation-title">
            <ion-button color="dark" (click)="openDatePicker()" fill="clear">
              <strong>{{ titleDateFilter(day) }}</strong>, {{ day.toDate() | amDateFormat:'L' }}
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="dark" (click)="nextDay()" fill="clear">
              <ion-icon class="arrow-navigation-right" name="arrow-dropright"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
