page-user-profile {
  .fixed-content, .scroll-content{
    margin-top: 100px !important;
  }
  .m-side-menu-list {
    margin-top: 16px;
    .item-inner {
      margin-left: 10px !important;
    }
  }
}
